{% extends '_base.html' %}

{% block menu %}
<nav class="b-main-menu">
    <a href="./">Home</a>
    {% for survey in $global.surveys %}
        <a href="{{survey.id}}-{{survey.title | slug }}.html">{{survey.title}}</a>
    {% endfor %}
</nav>
{% endblock %}


{% block main %}
<div class='b-surveys-page'>


<div class="b-top-section" style='background-image: url(./img/banners/{{image}})'>
  <div class="row expanded">
      <div class="e-shade"></div>
      <hgroup class="e-titles">
          <h1 class="e-main-title">{{title}}</h1>
          <h3 class="e-tagline">{{goal}}</h3>
      </hgroup>
      <div id="download-button">
        <a href="#" class="b-button m-dark-purple">Download the Slides<i class="material-icons m-space">file_download</i></a>
      </div>
  </div>
</div>

  <div class="b-page-section survey-summary">

    <div class="row">
      <div class="large-3 columns">
        <h3 class="e-description-title">Goal</h3>
      </div>
      <div class="large-8 columns end">
        <p class="e-description">{{goal}}</p>
      </div>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <h3 class="e-description-title">Objectives</h3>
      </div>
      <div class="large-8 columns end">
        <ul class='e-description'>
          {% for objective in objectives %}
          <li>{{objective}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <h3 class="e-description-title">Key Findings</h3>
      </div>
      <div class="large-8 columns end">
        <p class="e-description">{{key_findings}}</p>
      </div>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <h3 class="e-description-title">Dates</h3>
      </div>
      <div class="large-8 columns end">
        <p class="e-description">{{date_start}} - {{date_end}}</p>
      </div>
    </div>

    <div class="row">
      <div class="large-3 columns">
        <h3 class="e-description-title">Number of Responses</h3>
      </div>
      <div class="large-8 columns end">
        <p class="e-description">{{qty_responses}}</p>
      </div>
    </div>
  
  </div>







{# 
  <h1>{{title}}</h1>
  <p>{{image}}</p>
  <p>{{date_start}}</p>
  <p>{{date_end}}</p>
  <p>{{qty_responses}}</p>
  <p>{{goal}}</p>
  <p>{{objectives}}</p>
  <p>{{key_findings}}</p>
  <p>{{link.survey}}</p>
  <p>{{download}}</p> #}
</div>
{% endblock %}

