{% extends '_base.html' %}

{% block main %}
<h1>{{title}}</h1>
<p>{{image}}</p>
<p>{{date_start}}</p>
<p>{{date_end}}</p>
<p>{{qty_responses}}</p>
<p>{{goal}}</p>
<p>{{objectives}}</p>
<p>{{key_findings}}</p>
<p>{{link.survey}}</p>
<p>{{download}}</p>
{% endblock %}


---
# surveys

- title: The CJCC Survey
  image: 
  date_start: October 21, 2015
  date_end: October 24, 2015
  qty_responses: 34
  goal: Sent to members of Criminal Justice Coordinating Councils (CJCCs) interested in accelerating justice system data sharing.
  objectives:
    - Understand the role of data-driven decision making in the criminal justice system today
    - Map the availability of and access to data for reform
    - Identify the barriers and impediments to using data
  key_findings: Initial results from 34 respondents demonstrated a diverse array of data practices. Information is collected on paper and digitally. Information is collected on paper and digitally. In some cases, it is anonymized and, in other cases, simply stored security. There’s a significant diversity around data analytics as well. Some analyze the data within the agency, some outsource, and some do not perform data analytics at all. Some jurisdictions can use data to trace someone in the system; others cannot. Governance policies and mechanisms differ. In short, there is diversity of experience. In common is only the fact that almost no one posts open data for the public, including researchers, to study and analyze. The results were presented during the first Data-Driven Justice Workshop held at the White House on October 28th, 2015.
  link:
    survey: https://govlab.typeform.com/to/qPeday
  downloads: