// example custom sass file
// place site specific sass into individual files like this one as needed for the design,
// and @import in styles.scss

// BASE
.b-top-nav.m-transparent {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 10px 20px 20px 20px;
    .e-social-media .e-nav-item {
      @media (max-width:520px) {
        display: block;
        padding: 0;
        text-align: center;
        margin-top: 5px;
      }
    }
  }
  
.b-footer .e-content {
  h4 {
    @include breakpoint($mobile-only) { 
      text-align: center; 
    }
  }
  .e-partner-logo {
    text-align: center;
  }
  .e-partner-logo > img {
    width: 25%;
    @include breakpoint($desktop){
      width: 25%;
      max-height: 300px;
    }
    @include breakpoint($mobile-only){
      width: 200px;
      max-height: 300px;
    }
  }
}



// INDEX
#b-homepage {
  // .b-top-section {
  //   background-image: url(./img/temp-backgrounds/temp1.jpeg);
  // }
  h2 {
    font-size: 50px;
    font-weight: 200;
    text-transform: none;
    line-height: 1.1;
  }
  .b-description {
    font-weight: 300;
    font-size: 22px;
    margin-top: 5px;
  }
  i.m-xl-badge {
    width: 100px;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.2);
    margin: 30px 0 0 0;
  }

}

// INDEX AND SURVEYS
.b-surveys-page,
#b-homepage {
  .b-top-section {
    background-size: cover;
    height: 75vh;
    position: relative;
    color: white;
    .e-shade {
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient($gray-10, $gray-80);
    }
    .e-main-title {
        @include breakpoint($desktop) {
            font-size: 60px;
            font-weight: 100;
        }
        @include breakpoint($mobile-only) {
            font-size: 2.6rem;
            font-weight: 400;
        }
    }
    .e-tagline {
        @include breakpoint($desktop) {
            font-size: 30px;
            font-weight: 100;
        }
        @include breakpoint($mobile-only) {
            font-size: 1.25rem;
            font-weight: 400;
        }
    }
  }
  .e-titles {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 100px;
    width: 100%;
    padding: 20px;
    h3 {
      text-transform: uppercase;
      font-size: 24px;
      margin: 0;
      width: auto;
      padding: 5px 8px;
      font-weight: 300;
    }
  }
}

// SURVEYS
.b-surveys-page{
  #download-button {
    bottom: -27px;
    position: absolute;
    text-align: center;
    width: 100%;

    a { box-shadow: 0 0 5px $gray-20; }
    .material-icons {
        font-size: 24px;
        line-height: 24px;
    }
  }

  .survey-summary {
    margin: 40px 0px;
    padding: 10px;
    .e-description-title {
      color: rgba($black, .4);
      line-height: 1.5;
      padding-left: 0;
      text-transform: uppercase;
          font-weight: 400;
          font-size: 22px;
      @include breakpoint($desktop){
        text-align: right;
      }
      @include breakpoint($mobile-only){
        text-align: left;
      }
    }
    .e-description {
      font-size: 1.2rem;
      font-weight: 300;
    }

  }
}



