// example custom sass file
// place site specific sass into individual files like this one as needed for the design,
// and @import in styles.scss

// BASE
.b-top-nav.m-transparent {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 10px 20px 20px 20px;
  }
  
.b-footer .e-content {
  h4 {
    @include breakpoint($mobile-only) { 
      text-align: center; 
    }
  }
  .e-partner-logo {
    text-align: center;
  }
  .e-partner-logo > img {
    width: 25%;
    @include breakpoint($desktop){
      width: 25%;
      max-height: 300px;
    }
    @include breakpoint($mobile-only){
      width: 200px;
      max-height: 300px;
    }
  }
}



// INDEX
#b-homepage {
  .b-top-section {
    background-image: url(/img/temp-backgrounds/temp1.jpeg);
  }
  h2 {
    font-size: 50px;
    font-weight: 200;
    text-transform: none;
    line-height: 1.1;
  }
  .b-description {
    font-weight: 300;
    font-size: 22px;
    margin-top: 5px;
  }
  i.m-xl-badge {
    width: 100px;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.2);
    margin: 30px 0 0 0;
  }

}

// INDEX AND SURVEYS
.b-surveys-page,
#b-homepage {
  .b-top-section {
    background-size: cover;
    height: 72vh;
    position: relative;
    .e-main-title {
      @include breakpoint($desktop){
        font-size: 60px;
      }
      @include breakpoint($mobile-only){
        font-size: 50px;
      }
    }
    .e-tagline {
      @include breakpoint($desktop){
        font-size: 28px;
      }
      @include breakpoint($mobile-only){
        font-size: 20px;
      }
    }
  }
  .e-titles {
    position: absolute;
    bottom: 100px;
    width: 100%;
    padding: 20px;
    }
  h3 {
    text-transform: uppercase;
    font-size: 24px;
    margin: 0;
    width: auto;
    padding: 5px 8px;
    font-weight: 300;
  }
}

// SURVEYS
.b-surveys-page{
  #download-button {
    bottom: -127px;
    position: absolute;
    text-align: center;
    width: 100%;

    a { box-shadow: 0 0 5px $gray-20; }
    .material-icons {
        font-size: 24px;
        line-height: 24px;
    }
  }

  .survey-summary {
    margin: 40px 0px;
    padding: 10px;
    .e-description-title {
      // font-weight: 600;
      color: rgba($black, .4);
      // margin-right: 30px;
      line-height: .9;
      padding-left: 0;
      text-transform: uppercase;
          font-weight: 400;
          font-size: 22px;
      @include breakpoint($desktop){
        text-align: right;
      }
      @include breakpoint($mobile-only){
        text-align: left;
      }
    }
    .e-description {
      // line-height: 1.4;
      // font-size: 18px;
      font-size: 1.2rem;
      font-weight: 300;
    }

  }
}



